@font-face {
  font-family: 'Lato';
  src: url(./fonts/Lato/Lato-Bold.ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url(./fonts/Lato/Lato-Light.ttf) format('truetype');
  font-weight: lighter;
}

@font-face {
  font-family: 'Lato';
  src: url(./fonts/Lato/Lato-Regular.ttf) format('truetype');
}

/* Used to remove chrome autofill coloring */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px black inset !important;
}

input:-webkit-autofill{
  -webkit-text-fill-color: white !important;
}

.App {
  background-color: black;
  display: flex;
  height: 100vh;
  background-image: url('./assets/moon.jpeg');
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: 800px bottom;
}

.counter-btn-bg {
  color: #000000;
  opacity: 0.22;
}

.counter-btn:hover .counter-btn-bg {
  color: #FFFFFF !important;
  opacity: 0.22;
}

.counter-btn:hover {
  cursor: pointer;
}

.counter-btn {
  font-size: 10px;
}

#counter {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #181818;
  border-radius: 4px;
  width: 135px;
  justify-content: space-between;
  color: white;
  margin-top: 1rem;
  font-family: 'Roboto', sans-serif;
  padding: 0 12px;
}

#counter-display {
  line-height: 40px;
  font-size: 14px;
  margin-bottom: 0px;
  color: #97A2AF;
  font-family: 'Roboto';
  font-weight: 400 !important;
}

.counter-group {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.moon {
  position: absolute;
  right: -700px;
  bottom: 0;
}

#main-page-overlay {
  width: 75%;
  position: relative;
  height: 100%
}

.header {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  color: white;
  font-weight: bold;
}

h2 {
  font-size: 36px !important;
  font-weight: 900 !important;
  font-family: Lato
}

.subtitle {
  display: flex;
  color: #6E6E6E;
  justify-content: center;
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  position: relative;
}

.form-content {
  margin-top: 75px;
  max-width: 500px !important;
  color: #6E6E6E;
}

.form-bottom {
  display: flex;
  justify-content: center;
}

.form-label {
  font-size: 12px;
  font-family: Lato;
  font-weight: 700;
}

.submit-btn {
  margin-top: 2rem;
  border-radius: 20px;
  border-style: hidden;
  background-color: #6684F2;
  color: white;
  font-family: Lato;
  width: 243px;
  height: 42px;
  font-weight: 400 !important;
  font-size: 12px;
}

.input-font {
  font-family: Roboto;
}

.input-icon-border {
  border-left: 1px solid !important;
}

input, span{
  border: none !important;
  background-color: #181818 !important;
}